body, html {
    height: 100%;
    background-color: lightblue;
}

#game {
    position: absolute;
    width: 600px;
    height: 510px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    #controls {
        min-height: 110px;
    }

        #buttons {
            text-align: center;
        }

            #buttons input {
                margin: 14px 20px 11px;
    
                width: 150px;
                height: 50px;
                text-align: center;
                color: white;
                font-family: Consolas;
                font-size: 18px;
                font-weight: bold;
                border: 5px solid white;
                border-radius: 10px;
                background-color: dimgray;
            }

        #help {
            font-size: 14px;
            font-weight: bold;
            font-family: Consolas;
        }

            #left-player {
                float: left;
            }

            #right-player {
                float: right;
                text-align: right;
            }

    #play-field {
        position: absolute;
        top: 110px;
        left: 0;

        background-color: rgba(0, 0, 255, 0.3);
    }

        .draw-container {
            position: absolute;
        }

            #dynamic-canvas {
                z-index: 3; /*Topmost layer*/
            }

            #static-canvas {
                z-index: 2; /*Middle layer*/
            }

            #background-svg {
                background-color: dimgray;
                z-index: 1; /*bottom layer layer*/
            }