body, html {
  height: 100%;
  min-height: 400px;
  min-width: 600px;
}

#side-box {
    background-color: green;
    float: right;
    height: 100%;
    width: 200px;
}

#game-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.draw-container {
    position: absolute;
    width: 100%;
    height: auto;
}

#dynamic-canvas {
    z-index: 2; /*Topmost layer*/
}

#static-canvas {
    z-index: 1; /*Middle layer*/
}

#background-svg {
    background-color: dimgray;
    z-index: 0; /*bottom layer layer*/
}