body, html {
  height: 100%;
  min-height: 400px;
  min-width: 600px;
  background-color: lightblue;
}

nav {
    /*background-color: lightblue;*/
    /*float: right;*/
    height: 110px;
    width: 100%;
}

nav input {
    margin: 10px 25px;
    
    width: 225px;
    height: 50px;
    text-align: center;
    color: white;
    font-family: Consolas;
    font-size: 24px;
    font-weight: bold;
    border: 5px solid white;
    border-radius: 10px;
    background-color: dimgray;
}

.center {
    text-align: center;
}

#left-player {
    float: left;
    font-size: 18px;
    font-weight: bold;
    font-family: Consolas;
}

#right-player {
    float: right;
    font-size: 18px;
    font-weight: bold;
    font-family: Consolas;
    text-align: right;
}

#game-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.draw-container {
    position: absolute;
    width: 100%;
    height: auto;
}

#dynamic-canvas {
    z-index: 2; /*Topmost layer*/
}

#static-canvas {
    z-index: 1; /*Middle layer*/
}

#background-svg {
    background-color: dimgray;
    z-index: 0; /*bottom layer layer*/
}